%h1 Bienvenido a la Agenda

#contacts{"data-role" => "page"}
  %div{"data-role" => "header"}

  .ui-content{role: "main"}
    %form
      %input#filter-for-listview{"data-type" => "search", placeholder: "Type to search..."}
    %ul{"data-filter" => "true", "data-input" => "#filter-for-listview", "data-inset" => "true", "data-role" => "listview"}
      %li
        %a{href: "#"} Acura
      %li
        %a{href: "#"} Audi
      %li
        %a{href: "#"} BMW
      %li
        %a{href: "#"} Cadillac
      %li
        %a{href: "#"} Ferrari

  %div{"data-role" => "footer"}
